@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1170px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 575px) {    /* (https://www.w3schools.com/css/css3_mediaqueries.asp) */
    .btn-outer{
        position: fixed;
        bottom: 0;
        background-color: white;
        padding: 5px 0px;
        width: 100%;
        justify-content: center !important;
        left: 0;
    }

    .whatsappbtn, .call{
        padding: 7px 15px;
        font-size: 14px;
    }

    .bannerContent h1{
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
    }

    .bannerContent br{
        display: none;
    }

    .bannerContent p, .bannerContent ul li{
        font-size: 16px;
    }

    .bannerContentBtn{
        flex-direction: column;
    }

    .bannerContentBtn button{
        width: 100%;
    }

    .bannerForm{
        padding: 20px;
    }

    .highlights-section h2{
        font-size: 28px;

    }

    .highlights-section button{
        width: 100%;
    }
}